@page "/"
@using ToDo.Application.Models

<PageTitle>My ToDo App</PageTitle>

<h1 style="text-align:center">My ToDo's</h1>

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudGrid Class="mt-2">
        <MudItem xs="12" sm="12">
            <MudCard Outlined="true">
                <MudCardContent>
                    <MudTextField Label="ToDo" @bind-Value="model.Name" For="@(() => model.Name)" AutoFocus="true" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Add ToDo</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@if (todos.Any())
{
    <MudPaper Class="mt-5" Outlined="true">
        <MudList Clickable=true>
            @foreach (var todo in todos)
            {
                <MudListItem Icon="@todo.Icon" OnClick="todo.SetComplete">
                    @if (todo.IsComplete)
                    {
                        <span style="text-decoration:line-through">@todo.Name</span>
                    }
                    else
                    {
                        @todo.Name
                    }
                </MudListItem>
            }
        </MudList>
    </MudPaper>
}

@code {
    ToDo model = new ToDo();

    List<ToDo> todos = new List<ToDo>();

    private void OnValidSubmit(EditContext context)
    {
        if (!string.IsNullOrWhiteSpace(model.Name))
            todos.Add(model);
        model = new ToDo();
        StateHasChanged();
    }
}