@page "/"
@using ToDoApp.Application.Models
@inject ToDoApp.Application.Services.IToDoService _toDoService

<PageTitle>My ToDo App</PageTitle>

<h1 style="text-align:center">My ToDo's</h1>

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudGrid Class="mt-2">
        <MudItem xs="12" sm="12">
            <MudCard Outlined="true">
                <MudCardContent>
                    <MudTextField Label="ToDo" @bind-Value="model.Name" For="@(() => model.Name)" AutoFocus="true" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Add ToDo</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@if (todos != null && todos.Any())
{
    <MudPaper Class="mt-5" Outlined="true">
        <MudList Clickable=true>
            @foreach (var todo in todos)
            {
                <MudListItem Icon="@todo.Icon" OnClick="() => SetComplete(todo)">
                    @if (todo.IsComplete)
                    {
                        <span style="text-decoration:line-through">@todo.Name</span>
                    }
                    else
                    {
                        @todo.Name
                    }
                </MudListItem>
            }
        </MudList>
    </MudPaper>
}

@code {
    ToDo model = new ToDo();

    IList<ToDo>? todos;

    protected override async Task OnInitializedAsync()
    {
        todos = await _toDoService.GetToDosAsync();
        await base.OnInitializedAsync();
    }

    private async Task OnValidSubmit(EditContext context)
    {
        ArgumentNullException.ThrowIfNull(todos);

        if (!string.IsNullOrWhiteSpace(model.Name))
            await _toDoService.AddToDoAsync(model);

        model = new ToDo();
        StateHasChanged();
    }

    private async Task SetComplete(ToDo todo)
    {
        todo.IsComplete = !todo.IsComplete;
        await _toDoService.UpdateToDoAsync(todo);
    }
}